<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/persona-buttons.css">
    <title>Sinter</title>
</head>

<body>
    <%- include top.html %>
    <form id="ArticleForm" method="POST" action="publishArticle">
        <div class="content">
            <input name ='title' type="text" id = "content_title" class="title" maxlength = '100'/><br/>
            <textarea name='content' class="contents" wrap='virtual'></textarea></br>

            <button id="preview" name="preview" value="preview">preview</button>
            <input type="submit" name="publish" value="publish"/>
        </div>
    </form>
    
    <%- include footer.html %>
    <script src="https://login.persona.org/include.js"></script>
    <script type="text/javascript" src="/js/libs/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/js/sinterjs.js"></script>

</body>
</html>
