<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../public/styles/style.css">
	<title>Sinter</title>
</head>

<body>
	<div class="site_top">
		<div class="top">
			<h1>
				<a href="/">Sinter</a>
			</h1>
			<p>Write simple</p>
		</div>
		<div class="log">
			<a class="login" href="longin" id='user_login'>login</a>
			<a class="logout" href="logout" id='user_logout'>logout</a>
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="content">
		<input type="text" id = "content_title" class="title" maxlength = '100'/><br/>
		<textarea class="contents" wrap='virtual'></textarea></br>
		<button id="preview" name="preview" value="preview">preview</button>
		<button id="publish" name='publish' value="publish">publish</button>
	</div>
	<div class="site_bottom">
		<p>Sinter is an open source software created by Bruce Chen,hosted on github</p>
	</div>
	<!--<%- include top.html %>-->
	<!--<%- include footer.html %>-->
	<script src="https://login.persona.org/include.js"></script>
	<script type="text/javascript" src="../public/js/libs/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="../public/js/sinterjs.js"></script>

</body>
</html>
